<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HUMAN FUND Application Test Automation Test Suite">
	<test name="Human Fund App Test Cases">
		<classes>
			<class name="com.tej.tests.SampleFundPageTests"></class>
		</classes>
	</test>
</suite>